{% extends "detection/base.html" %}

{% block content %}

<!-- Statement -->
<div id="statement" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container">
                    <h3>About Page</h3>
                    <br><hr><br>
                    <p class="p-large">Coronavirus disease (COVID-19) is a contagious disease caused by a newly found virus in China in 2019, a part of a lethal virus
                        family that includes SARS (Severe Acute Respiratory Syndrome) and MERS (Middle East Respiratory Syndrome). The SARS was
                        detected in Southern China in 2003, and MERS was seen in Saudi Arabia in 2012. Coronaviruses are a group of related RNA
                        viruses that cause diseases in mammals and birds. In humans, they cause respiratory tract infections that can range from mild to
                        deadly. SARS and MERS attack the respiratory system, but Covid-19 attacks other essential organs, such as the kidneys, liver, and
                        lungs.</p>

                    <p class="p-large"><b>Citation: </b> "Divyansh Dwivedi."Detection of Covid-19 in Chest X-Ray
                        Images using Deep Learning", Volume 9, Issue IV, International Journal for
                         Research in Applied Science and Engineering Technology (IJRASET) Page No:
                          1461-1470, ISSN : 2321-9653."</p>
                                         
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of statement -->

{% endblock content %}